$dark-green-300: hsl(183, 100%, 15%);
$dark-green-200: hsl(186, 14%, 43%);
$dark-green-100: hsl(184, 14%, 56%);
$light-green-200: hsl(185, 41%, 84%);
$light-green-100: hsl(189, 41%, 97%);
$primary: hsl(172, 67%, 45%);